*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../img/registar-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nth-child{
    background-image: url(../img/login-in-bg.jpg);
}

.container{
    width: 30%;
    height: 40%;
    min-width: 300px;
    min-height: 300px;
    background-color: inherit;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #001652;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(3px);
    .title{
        font-size: 2.5em;
        margin-bottom: 10px;
        color: #001affde;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 15px;
        .input{
            margin-bottom: 10px;
            width: 100%;
            padding: 10px;
            border: none;
            background: #003f72ce;
            border-radius: 5px;
            font-family: 'Rubik';
            font-size: 1em;
            color: #333;
            &:focus{
                border-color: #007BFF;
                outline: none;
            }
            &::placeholder{
                color: #999;
            }
            &:active{
                background-color: #002b45;
            }
        }
        .button{
            padding: 10px 20px;
            background-color: #00254dda;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-family: 'Rubik';
            font-size: 1em;
            cursor: pointer;
            color: #999;
            &:hover{
                background-color: #000e1dd8;
            }
            &:focus{
                outline: none;
            }
            &:active{
                background-color: #000711ef;
            }
        }
    }
    .login{
            margin-top: 15px;
            font-size: 0.9em;
            color: #ccc;
            a{
                color: #001affde;
                &:hover{
                    text-decoration: underline;
                }
            }
    }
}